.settingbar {
  height: 40px;
  background-color: white; 
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0px 4px 5px gray;
  top: 40px; 
}

.settingbar__name {
  margin: 0px 10px 0px 10px;
}

.settingbar__line-width {
  width: 50px;
}